.hero {
  background: url('images/hero.webp') no-repeat center center/cover;
  color: white;
  height: 100vh;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.card {
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
body{
  color: white;
}

